.cell {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 5vw;
    margin: 0 3px;
    width: 5vw;
}

.active {
    border: 10px double rgba(0, 0, 0, 0.5);
}

/* Matrix Styles */
.matrix {
    display: inline-block;
    margin: 20px auto;
    max-width: 100%;
}

.matrixColumn {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Palette Styles */
.palette {
    margin: 10vh;
    text-align: center;
}
.paintPot {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 4.5vw;
    margin: 3vh auto;
    width: 4.5vw;
}

/* Media Queries */
@media( max-width: 930px ){
    .cell {
        height: 30px;
        width: 30px;
    }
    .paintPot {
        display: inline-block;
        height: 40px;
        margin: auto 2vw;
        width: 40px;
    }
}