.cell {
    border: solid black 1px;
    display: inline-block;
    height: 50px;
    margin: 0 3px;
    width: 50px;
}

/* Matrix Styles */
.matrix {
    margin: 20px auto;
}

.matrixColumn {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Palette Styles */
#palette {
    display: inline;
}
.paintPot {
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin: 3px;
    width: 50px;
}