.cell {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 50px;
    margin: 0 3px;
    width: 50px;
}

.active {
    border: 10px double rgba(0, 0, 0, 0.5);
}

/* Matrix Styles */
.matrix {
    margin: 20px auto;
}

.matrixColumn {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Palette Styles */
.palette {
    margin: 10vh;
    text-align: center;
}
.paintPot {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 50px;
    margin: 3vh auto;
    width: 50px;
}