@import 'variables';

/* Palette Colors */
.redPaint {
    background-color: $red;
}
.pinkPaint {
	background-color: $pink;
}
.orangePaint {
	background-color: $orange;
}
.yellowPaint {
	background-color: $yellow;
}
.greenPaint {
    background-color: $green;
}
.bluePaint {
    background-color: $blue;
}
.tealPaint {
	background-color: $teal;
}
.purplePaint {
	background-color: $purple;
}
.blackPaint {
    background-color: $black;
}
.whitePaint {
    background-color: $white;
}
