$red: #AD1A24;
$pink: #C83875;
$orange: #D57017;
$yellow: #EEAF29;
$green: #6AA62B;
$blue: #0075B4;
$teal: #249A9E;
$purple: #7B539C;
$white: #FFFFFF;
$black: #000000;

/* Reference: https://brand.linkedin.com/visual-identity/color-palettes */