.cell {
    border: solid black 1px;
    display: inline-block;
    height: 50px;
    margin: 0 3px;
    width: 50px;
    max-height: 100%;
    max-width: 100%;

}

.matrix {
    margin: 20px auto;
}

.matrixColumn {
    display: inline-block;
    margin: 0;
    padding: 0;
}
