<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>React Webpack Babel Starter Kit</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="icon" type="image/png" sizes="24x24" href="/icons/favicon-32x32.png">
  <link rel="shortcut icon" sizes="192x192" href="/icons/shortcut-192x192.png" type="image/png">
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/shortcut-192x192.png" type="image/png">
</head>
<body>
  <div id="App">Loading...</div>
</body>
</html>
